
  <div class="center">
    <button (click)="addNumbers()" type="button" class="btn btn-outline-dark mr-3 btn-lg" data-toggle="button" aria-pressed="false" autocomplete="off" >+</button>
    <button (click)="subtractNumbers()" type="button" class="btn btn-outline-dark mr-3 btn-lg" data-toggle="button" aria-pressed="false" autocomplete="off" >-</button>
    <button (click)="multiplyNumbers()" type="button" class="btn btn-outline-dark mr-3 btn-lg" data-toggle="button" aria-pressed="false" autocomplete="off">*</button>
    <button (click)="divideNumbers()" type="button" class="btn btn-outline-dark mr-3 btn-lg" data-toggle="button" aria-pressed="false" autocomplete="off">/</button>
</div>
<br>